<div class="project">
  <h2 class="project-name">
    <label v-class="editing: fieldEdited == 'name'" v-on="click:editField('name')" >
      <span class="value">{{ name }}</span>
      <input type="text" name="name" v-model="name" v-validate="min:1, max: 360" v-on="blur:editField">
    </label>
  </h2>
  <div class="toolbox">
    <label>
      <span>Tempo</span> <input type="number" name="tempo" v-model="tempo" v-validate="min:1, max: 360">
    </label>
    <button v-class="active: playing == true" v-on="click: play">Play</button>
    <button v-on="click: pause">Pause</button>
    <button v-on="click: stop">Stop</button>
  </div>
  <div class="pane">
    <ul class="tracks">
      <li class="track" v-repeat="tracks" v-component="pitch-roll">
      </li>
    </ul>
  </div>
</div>