$whiteKeyColor: #f5f5f5;
$blackKeyColor: #444;
$keyHeight: 15px;

.piano-roll {
  list-style: none;
  .key {
    display: block;
    width: 100%;
    height: $keyHeight;
    background: $whiteKeyColor;
  }

  .key-1, .key-3, .key-6, .key-8, .key-10 {
    background: $blackKeyColor; 
    width: 66.6%;
    position: relative;

    &:before, &:after {
      content: ' ';
      position: absolute;
      right: -50%;
      width: 50%;
      height: 50%;
      background: $whiteKeyColor;
    };

    &:before {
      top: 0;
    }

    &:after {
      bottom: 0;
      border-top: 1px solid #ccc;
    }
  }

  .key-4, .key-11 {
    height: $keyHeight - 1px;
    border-bottom: 1px solid #ccc;
  }
}

.piano-grid {
  list-style: none;
  .pitch {
    height: $keyHeight - 1px;
    width: 100%;
    border-bottom: 1px solid #eee;
    position: relative;
  }

  .pitch-1, .pitch-3, .pitch-6, .pitch-8, .pitch-10 {
    background: #fafafa; 
  }

  .note {
    display: inline-block;
    position: absolute;
    background: #ccf;
    height: calc(100% - 2px);
    border: 1px solid #abf;

    &.selected {
      background: #77a;
    }

    .resize-marker-end,
    .resize-marker-begin {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 2px;
      border: 1px solid rgba(0,0,0,0.5);
      background: rgba(0,0,0,0.3);
      display: block;
      cursor: col-resize;
    }

    .resize-marker-begin {
      left:0;
      right: auto;
    }
  }
}