$legendWidth: 100px;

.pitch-roll-legend {
  width: $legendWidth;
  display: inline-block;
}

.pitch-roll-grid {
  width: calc(100% - #{$legendWidth});
  display: inline-block;
  position: relative;
}

.time-marker {
  position: absolute;
  z-index: 50;
  top: 0px;
  bottom: 0px;
  width: 1px;
  background: rgba(100,100,140, 0.5);
  border: 1px solid rgba(100,100,140, 0.2);
  cursor: col-resize;
}

.grid-line {
  position: absolute;
  top: 0;
  bottom:0;
  width: 1px;
  z-index: 15;
  background: #ccc;
}

.grid-line-primary {
  background: #666;
}