@import 'track.css';
@import 'keyboard.css';

body {
  background: #333;
  color: #3cf;
}

.project {
  background: #fff;
  padding: 20px;
}

.toolbox {
  margin-bottom: 40px;
}

ul, li {
  margin: 0;
  padding: 0;
}