@import 'track.css';
@import 'pitchRoll.css';
@import 'keyboard.css';

body {
  background: #333;
  color: #29d;
}

.project {
  background: #fff;
  padding: 20px;
}

.toolbox {
  margin-bottom: 40px;
}

ul, li {
  margin: 0;
  padding: 0;
}

button {
  border: 0;
  padding: 8px;
  background: #f0f5ff;
  color: #29d;

  &.active {
    color: #fff;
    background: #29d;
  }
}