@import url(http://fonts.googleapis.com/css?family=Muli);
@import 'track.css';
@import 'pitchRoll.css';
@import 'pianoRoll.css';

body {
  background: #333;
  color: #29d;
  font-family: Muli, Sans;
}

.project {
  background: #fff;
  padding: 20px;
}

.project-name label.editing .value {
  display: none;
}

.project-name label.editing input {
  display: inline-block;
}

.project-name label:not(.editing) .value {
  display: inline-block;
}

.project-name label:not(.editing) input {
  display: none;
}

.toolbox {
  margin-bottom: 40px;
}

ul, li {
  margin: 0;
  padding: 0;
}

button {
  border: 0;
  padding: 8px;
  background: #f0f5ff;
  color: #29d;

  &.active {
    color: #fff;
    background: #29d;
  }
}